@import url('./variables.css');

*{
    box-sizing: border-box;
    font-family: monospace;
}

html{
    background: rgba(0,0,0,0.03);
}

body{
    margin: .37em;
}

.card{
    background: white;
    padding: .37em;
    margin: .37em;
}

.action{
    padding: .37em;
    font-weight: bold;
    background: lightgreen;
    cursor: pointer;
    transition: .3s;
    border-radius: 6px;
}

.action:hover{
    background: lightgoldenrodyellow;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}